<div class="container-fluid m-top text-white">
    <div class="row">
        <div class="col-lg-6">
            <p class="">
                &copy; <script>document.write(new Date().getFullYear())</script> <strong>Le Web Africain</strong>
            </p>
        </div>
        <div class="col-lg-6 order-12">
            <ul class="nav nav-pills">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="#">Accueil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://bit.ly/2SHIe9R">Nous Rejoindre</a>
                </li>
            </ul>
        </div>
    </div>
</div>