<div class="container-fluid">
    <div class="row">
        <div class="col-lg-3 text-white">
            <h2>LWA</h2>
        </div>
        <div class="col-lg-9">
          <ul class="nav nav-pills">
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/">Accueil</a>
              </li>
              <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">
                      Nos Produits
                  </a>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Action</a></li>
                    <li><a class="dropdown-item" href="#">Another action</a></li>
                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="#">Separated link</a></li>
                  </ul>
                </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Nous rejoindre</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Nous contacter</a>
              </li>
            </ul>
        </div>
    </div>
</div>